<section class="hero-container" id="hero">
    <div class="text-center text-white px-6 md:px-16 py-24">
        <div class="hero-title-container" data-aos="fade-down">
            <img src="assets/images/salih-vesikalık.jpeg" alt="Salih Avatar" class="avatar" />
            <h1 class="text-4xl md:text-6xl font-bold mb-6">Merhaba, Ben Salih!</h1>
        </div>

        <p class="text-base md:text-lg leading-relaxed max-w-4xl mx-auto" data-aos="fade-up" data-aos-delay="300">
            Elektrik Elektronik Mühendisliği lisans eğitimimi Sakarya Üniversitesi'nde tamamladım. Üniversite yıllarım
            boyunca yazılıma büyük bir ilgi duydum ve bu ilgimi TEKNOFEST yarışmalarında geliştirme fırsatı buldum. Bu
            yarışmalarda Raspberry Pi kullanarak çeşitli projelerde görev aldım ve yazılım geliştirme pratiği kazandım.
            Sonrasında Java ile backend geliştirmeye yöneldim ve bu alanda kendimi sürekli olarak geliştirdim. 2021
            yılından itibaren profesyonel olarak yazılım mühendisi olarak çalışıyorum. Çalışma hayatım boyunca ağırlıklı
            olarak Java Spring Boot ve Angular teknolojileriyle projelerde yer aldım.
            <br><br>
            İş dışında doğayla iç içe olmaktan keyif alıyorum. Boş zamanlarımda balık tutmak, kamp yapmak ve yüzmek en
            sevdiğim hobiler arasında yer alıyor.
        </p>
    </div>
</section>