<app-navbar></app-navbar>

<div id="hero"><app-hero></app-hero></div>
<div id="experience"><app-experience></app-experience></div>
<div id="projects"><app-projects></app-projects></div>
<div id="contact"><app-contact></app-contact></div>

<footer class="site-footer" data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
  <div class="footer-content">
    <img src="assets/images/logoSC.png" alt="Salih Çetin Logo" class="footer-logo" />
    <span class="designer-text">designed by <strong>Salih</strong></span>
    <span class="year-text">© 2025</span>
  </div>
</footer>