<section class="contact-section" data-aos="fade-up" data-aos-duration="1000">
    <div class="contact-icons">
        <a href="https://www.linkedin.com/in/salih-cetin" target="_blank" rel="noopener" class="icon linkedin"
            data-aos="zoom-in" data-aos-delay="100" data-aos-duration="800" aria-label="LinkedIn">
            <i class="pi pi-linkedin"></i>
        </a>
        <a href="mailto:salihcetinteam@gmail.com" class="icon email" data-aos="zoom-in" data-aos-delay="500"
            data-aos-duration="800" aria-label="Email">
            <i class="pi pi-envelope"></i>
        </a>
        <a href="https://www.instagram.com/saliih.cetiin?igsh=MTM0bGxuZ2tuYzMyOA==" target="_blank" rel="noopener"
            class="icon instagram" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="800"
            aria-label="Instagram">
            <i class="pi pi-instagram"></i>
        </a>
    </div>

    <div class="youtube-section" data-aos="fade-up" data-aos-delay="900" data-aos-duration="1000">
        <p class="youtube-text">
            Hobilerimi görüntülemek için
            <a href="https://www.youtube.com/channel/UC7aExzL9Xn3Y71V2grtFaSw" target="_blank" rel="noopener">
                YouTube kanalımıza
                <i class="pi pi-youtube"></i>
            </a>
            göz atabilirsiniz 🎣🏕️
        </p>
    </div>
</section>