<section id="projects" class="projects-section" data-aos="fade-up">
    <!-- Fisherman Web projesi -->
    <div class="project-card" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/images/fisherman-web.png" alt="Fisherman Web Kapak" class="project-image" />

        <div class="project-content">
            <h3>Fisherman Web</h3>
            <p>
                Bu web uygulaması balıkçıların balık tuttuğu bölgeleri harita üzerinden seçerek kaydetmesini sağlamak
                için tasarlanmıştır.
                Kullanıcı harita üzerinden kaydettiği pinler üzerinden gönderi paylaşıp farklı kullanıcılar ile
                etkileşime girebilmektedir.
            </p>
            <a href="https://fisherman-web.netlify.app/" target="_blank" class="demo-button">Demo Uygulama</a>
        </div>
    </div>

    <!-- Fisherman Mobil projesi -->
    <div class="project-card" data-aos="fade-up" data-aos-delay="300">
        <div class="project-images-multi">
            <img src="assets/images/fisherman-mobil1.jpg" alt="Fisherman Mobil Ekran 1" class="project-image-multi" />
            <img src="assets/images/fisherman-mobil2.jpg" alt="Fisherman Mobil Ekran 2" class="project-image-multi" />
        </div>

        <div class="project-content">
            <h3>Fisherman Mobil</h3>
            <p>
                Fisherman Web uygulamasının mobil versiyonudur. Kullanıcılar, mobil cihazları üzerinden kolayca balık
                tuttukları bölgeleri işaretleyip, gönderi paylaşarak diğer balıkçılarla etkileşimde bulunabilirler.
            </p>
        </div>
    </div>
</section>